{% extends 'base.html.twig' %}
{% import "macros/tools.html.twig" as tools %}

{% block title %}StmfonyRecipes - Mes ingrédients{% endblock %}

{% block body %}
    <h1>Mes ingrédients</h1>

    <a href="{{ path('ingredient.new') }}" class="btn btn-primary mt-4">
        Créer un ingrédient
    </a>

    <div class="count mt-4">
        Il y a {{ ingredients.getTotalItemCount }}
        {% if ingredients.getTotalItemCount > 1 %}
            ingrédients
        {% else %}
            ingrédient
        {% endif %}
        au total
    </div>

    <table class="table table-striped mt-4">
        <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Nom</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <td>
                    <div class="ingredient_images">
                        <img class="custom-img-size-40 rounded-1 custom-img-1-1" src="{{ tools.provideDefaultImageForIngredient(ingredient.images[0]) }}">
                    </div>
                </td>
                <td class="align-middle">{{ ingredient.name }}</td>
                <td class="align-middle">
                    <a title="Modifier l'ingrédient" href="{{ path('ingredient.edit', { id: ingredient.id}) }}" class="btn btn-info"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a title="Supprimer l'ingrédient" href="{{ path('ingredient.delete', { id: ingredient.id}) }}" class="btn btn-danger"
                       onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?');"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {# display navigation #}
    <div class="navigation d-flex justify-content-center mt-5">
        {{ knp_pagination_render(ingredients) }}
    </div>
{% endblock %}
