{% extends "base.html.twig" %}

{% block title %}Symfony Recipe - Nouvel ingrédient{% endblock %}

{% block body %}
    <h1>
        Création d'un ingrédient
    </h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        <div class="form-error">
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="form-group mt-4">
        {{ form_label(form.imageFile) }}
        {{ form_widget(form.imageFile) }}
        <div class="form-error">
            {{ form_errors(form.imageFile) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_row(form.submit, { 'label': 'Créer un ingrédient'}) }}
    </div>
    {{ form_end(form) }}

{% endblock %}