{% import "macros/recipeIngredient/form.html.twig" as recipeIngredientMacro %}

{% extends "base.html.twig" %}

{% block title %}StmfonyRecipes - Modification recettes{% endblock %}

{% block body %}
    <h1>
        Modification de la recette
    </h1>

    {{ form_start(form) }}

    <div class="form-group mt-4">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        <div class="form-error">
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="form-group mt-4">
        {{ form_label(form.time) }}
        {{ form_widget(form.time) }}
        <div class="form-error">
            {{ form_errors(form.time) }}
        </div>
    </div>
    <div class="form-group mt-4">
        {{ form_label(form.difficulty) }}
        {{ form_widget(form.difficulty) }}
        <div class="form-error">
            {{ form_errors(form.difficulty) }}
        </div>
    </div>
    <div class="form-group mt-4">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        <div class="form-error">
            {{ form_errors(form.description) }}
        </div>
    </div>
    <div class="form-group mt-4">
        {{ form_label(form.peopleRequired) }}
        {{ form_widget(form.peopleRequired) }}
        <div class="form-error">
            {{ form_errors(form.peopleRequired) }}
        </div>
    </div>
    <div class="form-group mt-4">
        {{ form_label(form.price) }}
        {{ form_widget(form.price) }}
        <div class="form-error">
            {{ form_errors(form.price) }}
        </div>
    </div>
    <div class="form-check mt-4">
        {{ form_label(form.isFavorite) }}
        {{ form_widget(form.isFavorite) }}
        <div class="form-error">
            {{ form_errors(form.isFavorite) }}
        </div>
    </div>
    <div class="form-check mt-4">
        {{ form_label(form.isPublic) }}
        {{ form_widget(form.isPublic) }}
        <div class="form-error">
            {{ form_errors(form.isPublic) }}
        </div>
    </div>
    <div class="form-group mt-4">
        {{ form_label(form.imageFile) }}
        {{ form_widget(form.imageFile) }}
        <div class="form-error">
            {{ form_errors(form.imageFile) }}
        </div>
    </div>
    <h3 class="mt-4">Ingredients</h3>
    <div {{ stimulus_controller('form-collection') }}
            data-form-collection-index-value="{{ form.recipeIngredients|length > 0 ? form.recipeIngredients|last.vars.name + 1 : 0 }}"
            data-form-collection-prototype-value="{{ recipeIngredientMacro.printRecipeIngredientRow(form.recipeIngredients.vars.prototype)|e('html_attr') }}"
    >
        <div {{ stimulus_target('form-collection', 'collectionContainer') }}>
            {% for recipeIngredient in form.recipeIngredients %}
                {{ recipeIngredientMacro.printRecipeIngredientRow(recipeIngredient) }}
            {% endfor %}
        </div>
        <button type="button" class="btn btn-primary mt-4" {{ stimulus_action('form-collection', 'addCollectionElement') }}>Add a recipeIngredient</button>
    </div>
    <div class="form-group">
        {{ form_row(form.submit, {'label': 'Modifier'}) }}
    </div>
    {{ form_end(form) }}

{% endblock %}