{% extends "base.html.twig" %}

{% import "macros/mark/mark.html.twig" as starMark %}

{% block title %}StmfonyRecipes - {{ recipe.name }}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between">
        <div class=""><h1>{{ recipe.name }}</h1></div>
        <div class="">{{ (recipe.preparationTime+recipe.cookingTime)|min_to_hour }}  <i class="fa-solid fa-clock fa-xl text-primary"></i></div>
    </div>
    <div class="d-flex justify-content-between">
        <div class=""><h2>{{ starMark.displayMarkWithStar(recipe.getRoundedAverage()) }}</h2></div>
        <div class="">
            {% if recipe.price %}
                {{ recipe.price }}
            {% else %}
                Non renseigné
            {% endif %}
            <i class="fa-solid fa-hand-holding-dollar fa-xl text-primary"></i>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div class=""><span class="badge bg-primary">Créée le {{ recipe.createdAt|date('d/m/Y') }}</span></div>
        <div class="">{{ recipe.difficulty }}  <i class="fa-solid fa-book fa-xl text-primary"></i></div>
    </div>

    <div class="recipe_image mt-5 pt-5 text-center">
        <img style="width: 75%;" src="{{ vich_uploader_asset(recipe,'imageFile') }}">
    </div>


    <div class="row align-items-center p-2 mt-5 pt-5 mb-5">
        <div class="col border-bottom"></div>
        <div class="col text-center col-md-auto mx-5">
                <span>
                     <i class="fa-wheat-awn fa-solid fa-xl text-primary"></i> Ingrédients
                </span>
        </div>
        <div class="col border-bottom"></div>
    </div>
    <div class="btn-group mt-4" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-secondary">-</button>
        <div class="text-primary btn custom-btn-group-text btn-outline-secondary">{{ recipe.foodQuantity }} {{ recipe.foodQuantityType }}</div>
        <button type="button" class="btn btn-outline-secondary">+</button>
    </div>

    <div class="mt-5">
        <div class="row">
            {% for recipeIngredient in recipe.recipeIngredients %}
            <div class="col-3 d-flex flex-column">
                <div class="p-2 text-center h-100"><img class="w-75" src="{{ vich_uploader_asset(recipeIngredient.ingredient,'imageFile') }}"></div>
                <div class="p-2 text-center">{{ recipeIngredient.ingredient.name }} {{ recipeIngredient.quantity }}{{ recipeIngredient.unitType }}</div>


            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row align-items-center p-2 mt-5 pt-5 mb-5">
        <div class="col border-bottom"></div>
        <div class="col text-center col-md-auto mx-5">
                <span>
                     <i class="fa-fire-burner fa-solid fa-xl text-primary"></i> Préparation
                </span>
        </div>
        <div class="col border-bottom"></div>
    </div>

    <div class="mt-4">
        {% if recipe.preparationTime %}
            Temps de préparation : {{ recipe.preparationTime|min_to_hour }}
        {% else %}
            Temps de préparation non renségné
        {% endif %}
    </div>
    <div class="mt-4">
        {% if recipe.cookingTime %}
            Temps de cuisson : {{ recipe.cookingTime|min_to_hour }}
        {% else %}
            Temps de cuisson non renségné
        {% endif %}
    </div>
    <div class="mt-4">
        Étapes :
        <p>{{ recipe.description|raw }}</p>
    </div>

    {% if recipe.user != app.user %}
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.mark) }}
            {{ form_widget(form.mark) }}
            <div class="invalid-feedback">
                {{ form_errors(form.mark) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.comment) }}
            {{ form_widget(form.comment) }}
            <div class="invalid-feedback">
                {{ form_errors(form.comment) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_row(form.submit, {'label': 'Noter'}) }}
        </div>
        {{ form_end(form) }}
    {% endif %}

    <div class="row align-items-center p-2 mt-5 pt-5 mb-5">
        <div class="col border-bottom"></div>
        <div class="col text-center col-md-auto mx-5">
                <span>
                     <i class="fa-comment-dots fa-solid fa-xl text-primary"></i> Commentaires
                </span>
        </div>
        <div class="col border-bottom"></div>
    </div>

    {% for mark in relatedMarks %}
        {{ starMark.displayMark(mark.mark, mark.comment, mark.user.fullname, mark.createdAt|display_date) }}
    {% endfor %}
{% endblock %}
