{% macro provideDefaultImageForIngredient(images) %}
    {% if images is not empty %}
        {{ asset('images/ingredients/mini/300x300-' ~ images.name) }}
    {% else %}
        {{ asset('build/images/fakifv.jpg') }}
    {% endif %}
{% endmacro %}

{% macro provideDefaultImageForRecipe(images) %}
    {% if images is not empty %}
        {{ asset('images/recettes/mini/300x300-' ~ images.name) }}
    {% else %}
        {{ asset('build/images/fakifv.jpg') }}
    {% endif %}
{% endmacro %}

{% macro provideClickableFavIcon(id, isFavorite) %}
<div {{ stimulus_controller('tool') }} data-tool-recipeid-value="{{ id }}" class="w-100 h-100">
    <a {{ stimulus_action('tool', 'toggleFav') }} class="btn position-relative w-100 h-100 m-0 p-0 border-2 rounded-circle bg-white border custom-color-pink custom-border-pink">
        <div class="w-100 h-100 d-flex justify-content-center align-items-center">
            {% if isFavorite %}
                <i {{ stimulus_target('tool', 'icon') }} class="fas fa-heart"></i>
            {% else %}
                <i {{ stimulus_target('tool', 'icon') }} class="far fa-heart"></i>
            {% endif %}
        </div>
    </a>
</div>
{% endmacro %}

{% macro provideNotConnectedFavIcon() %}
    <div class="w-100 h-100">
        <a href="{{ path('security.login') }}" class="btn position-relative w-100 h-100 m-0 p-0 border-2 rounded-circle bg-white border custom-color-pink custom-border-pink">
        <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                <i class="far fa-heart"></i>
        </div>
        </a>
    </div>
{% endmacro %}

{% macro provideStatusTag(statusValue) %}
    <span class="badge 
    {% if statusValue == "Non approuvée" %}
        bg-secondary
    {% elseif statusValue == "En cours d'approbation" %}
        bg-info
    {% elseif statusValue == "Approuvée" %}
        bg-success
    {% elseif statusValue == "Refusée" %}
        bg-danger
    {% endif %}
    ">
    {{statusValue}}
    </span>
{% endmacro %}

{% macro providePublicTag(isPublic) %}
    <span class="badge 
    {% if isPublic %}
        bg-success">Public
    {% else %}
        bg-danger">Privée
    {% endif %}
    </span>
{% endmacro %}

